
.inputMain {
  transition: 300ms;
  padding: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;

  &:hover{
    border: 1px solid  #005BFF;
  }

}

.form-item{
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.form-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  right: 20px;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: .3s;
}

.textareaMain{
  top: 0px;
  transform: translateY(0%);
}

.inputMain:focus~.form-label,
.inputMain:not(:focus):valid~.form-label {
  top: -10px;
  transform: translateY(0%);
  font-size: 10px;
}

.modal-button{
  display: flex;
  width: 50%;
}

#hidden-courier {
  display: none;
  background: red;
  background: #ffffff;
}

.fancybox-slide--html .fancybox-close-small {
  right: 30px;
  top: 30px;

  @media screen and (max-width: 860px) {
    right: 0px;
    top: 10px;
  }
}

.fancybox-slide--html {
  @media screen and (max-width: 860px) {
    padding: 0px;
  }
}


.fancybox-close-small{

  svg{
    display: none;
  }
    &:before{
    content: '' ; 
    display: inline-block;
    width: 28px;
    height: 1px;
    position: absolute;
    background: #8B99A1;
    transform: rotate(-45deg);
    left: 10px;
    bottom: 20px;
  }

  &:after{
    content: '' ; 
    display: inline-block;
    width: 28px;
    height: 1px;
    position: absolute;
    background: #8B99A1;
    transform: rotate(45deg);
    left: 10px;
    bottom: 20px;
  }
}

.delivery-modal {
  max-width: 840px;
  border-radius: 11px;
  opacity: 0.99;
  padding: 40px;

  @media screen and (max-width: 860px) {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 30px 10px 20px;

    border-radius: 0;
  }

  &__inner {
    height: 100%;
    position: relative;
  }

  &__title {
    font-weight: 26px;
    font-weight: normal;
    margin-bottom: 40px;

    @media screen and (max-width: 860px) {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  &__items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 860px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      padding-bottom: 120px;
      position: relative;
    }
  }

  &__item {
  }
}
.cart-modal {
  width: 370px;
  min-height: 227px;
  height: 100%;
  border: 2px solid #CFD0D2;
  border-radius: 5px;
  opacity: 1;
  background: #FFFFFF;
  padding: 20px;
  transition: 300ms;
  &:hover{
    border: 2px solid #005BFF;
  }

  @media screen and (max-width: 860px) {
    width: 100%;
    min-height: auto;

    &.active{
      border: 2px solid #005BFF;
    }
  }

  &__header {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-weight: normal;
  }

  &__del {

    cursor: pointer;
    @media screen and (max-width: 860px) {
      position: relative;
      right: -10px;
      top: -10px;
    }
  }

  &__content {
  }

  &__address {
    display: flex;

    &:not(:first-child){
      margin-top: 24px;
    }

    @media screen and (max-width: 860px) {
      &:not(:first-child){
        margin-top: 12px;
      }
    }
  }

  &__icon {
    width: 22px;
    margin-right: 14px;
    flex-shrink: 0;
  }

  &__text {
    line-height: normal;
    &_bold {
      font-weight: bold;
    }

    @media screen and (max-width: 860px) {
      font-size: 15px;
    }
  }
}
.modal-search {
  background: #EFF6FF;
  border: 2px solid #005BFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__icons {
    margin-bottom: 34px;

    @media screen and (max-width: 860px) {
      display: none;
    }
  }

  &__text {
    color: #005BFF;
    max-width: 300px;
    text-align: center;
  }

  @media screen and (max-width: 860px) {
    height: 80px;
    padding: 20px 35px;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    left: 10px;
    width: calc(100% - 20px);
  }
}

.fancybox-is-open .fancybox-bg{
  opacity: 0.6;
}

.fancybox-bg{
  background: #000000 ;
}

.payment-product {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;

  @media screen and (max-width: 991px) {
    &.w-991{
      display: block;
    }
  }

  @media screen and (max-width: 1400px) {
    &.w-1400{
      display: block;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button{
    max-width: 200px;

    .btnMain {
      height: 40px;
    }
  }

  &__content {
    align-self: center;

    li{
      &:not(:first-child){
        margin-top: 3px;
      }
    }
  }

  &__sum {
    font-weight: bold;
  }

  &__description {
    color: #8B99A1;
    font-size: 14px;
  }
}
.check {

  &__button {
    @media screen and (max-width: 991px) {
      .w-991{
        span{
          display: none;
        }

        &::before{
          content: attr(data-button);
        }
      }
    }

  }
}

.btnMain {
  transition: 300ms;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  cursor: pointer;
}

.btn-blue {
  background: #005BFF ;
  color: #FFFFFF;

  &:hover{
    background: #0050E0;
  }
}

.btn-light-blue{
  color: #000000;
  background: #F2F5FA;
  &:hover{
    background: #CFD0D2;
  }
}

.hidden{
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.close-button{
  width: 28px;
  height: 28px;
}

.btn-black{
  background:#000000;
  color: #ffffff;
}
.btn-green {
  background: #10C44C  ;
  color: #FFFFFF;

  &:hover{
    background: #0EAD43;
  }
}

.block-input{
  margin-right: 6px;
}

.icon{
  height: inherit;
  stroke: #8B99A1;
}


.btn-hover{
  transition: 300ms;
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px solid #005BFF;
  color: #005BFF;
  width: auto;
  cursor: pointer;
  align-self: flex-start;
  
  &:hover{
    border-bottom: 1px solid transparent;
  }

  background: transparent;
  text-align: left;
}

//! checkbox
/*checkbox*/
.checkbox{
  font-size: 16px;
  padding: 0 0 0 55px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
  height: 22px;
  display: flex;
  align-items: center;

  transition: all 0.3s ease 0s;
  input{
    display: none;
  }

  &:hover{
    &:before{
      border: 2px solid #005BFF;
    }
  }

  position: relative;
  &:before{
  content: '' ; 
    display: inline-block;
    transition: 300ms;
    width: 41px;
    height: 18px;
    position: absolute;
    background-color: #FFFFFF;
    left: 0px;
    top: 0px;
    border: 2px solid #8B99A1;
    border-radius: 22px;
  }

  position: relative;
  &:after{
  content: '' ; 
  display: inline-block;
  transition: 300ms;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color:#8B99A1;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  }

  &.active{
    position: relative;
    &:before{
      background-color: #005BFF;
      border: 2px solid transparent;
    }
  }

  &.active{
    position: relative;
    &:before{
      background-color: #005BFF;
      border: 2px solid transparent;
    }
  }

  &.active{
    position: relative;
    &:after{
      background-color: #ffffff;
      left: 27px;
    }
  }
}

//! hint
/*hint*/
.hint {
  position: relative;

  &__content {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    font-size: 15px;
    width: 320px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #8B99A1;
    border-radius: 19px;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;

    @media screen and (max-width: 767px) {
      left: -236px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__text {
    p{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__button{
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 15px;
    line-height: 2;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8B99A1;
    border: 1px solid;
    transition: 300ms;
    cursor: pointer;

    &:hover{
      background: #8B99A1 ;
      border: 1px solid #8B99A1;

      color: #ffffff;

      ~.hint__content{
        opacity: 1;
        visibility: visible;
      }
    }

  }
}

//! radio
/*radio*/
.radio {
  cursor: pointer;
  input {
    display: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    transition: 300ms;
    border: 2px solid #B3BCC5;
    border-radius: 2px;
  }

  input:checked + span::before {
      opacity: 1;
      visibility: visible;
  }


  input:checked + span {
    background: #10C44C;
    border: 2px solid #10C44C;
  }
}


//! radio-delivery
/*radio-delivery*/

.radio-delivery{

  span{
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
    width: 22px;
    height: 22px;
    display: block;
    background: #ffffff;
    border: 2px solid #CFD0D2;
    box-sizing: border-box;
    border-radius: 50%;

    @media screen and (max-width: 767px) {
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__inner{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border: 2px solid #CFD0D2;
    transition: 300ms;
    border-radius: 5px; 
    padding: 30px 20px;
    font-size: 16px;
    cursor: pointer;
  
    &.mr{
      margin-right: 20px;
    }

    @media screen and (max-width: 767px) {
      padding: 20px 10px;
    
      &.mr{
        margin-right: 10px;
      }
    }
    
      &:hover{
        border: 2px solid #10C44C;
      }
    

  }
}


//! cart
/*cart*/
.cart {
  padding: 40px 40px 1px 40px;
  background: #FFFFFF;

  @media screen and (max-width: 767px) {
    padding: 30px 0 1px 10px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 27px;


    @media screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 20px;
      padding-right: 10px;
    }
  }

  &__subtitle{
    margin-bottom: 30px;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
  }

  &__payment {
    padding-bottom: 56px;
    //overflow-y: hidden;

    @media screen and (max-width: 767px) {
      padding-bottom: 20px;
      position: relative;
    }
  }

  &__brand{
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

//! delivery
/*delivery*/
.delivery {

  &__radio {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      padding-right: 10px;
    }
  }

}

//! description-delivery
/*description-delivery*/
.description-delivery {
  padding-bottom: 20px;

  @media screen and (max-width: 767px) {
    padding-right: 10px;
  }

  &:not(:first-child){
    margin-top: 20px;
  }

  &.bb{
    position: relative;
      &:before{
      content: '' ; 
      display: inline-block;
      width: calc(100% + 80px);
      height: 1px;
      position: absolute;
      background: #DDDEDF;
      left: -40px;
      bottom: 0px;
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;

    &.mb-20{
      margin-bottom: 20px;
    }
  }

  &__info {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    img{
      margin-right: 10px;
    }

    svg{
      width: 40px;
      height: 40px;
      fill: red;
    }

  &__warning {
    color: #8B99A1;
    padding-left: 24px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__button {
    cursor: pointer;
    display: inline-block;
    color: #005BFF;
    border-bottom: 1px solid;
    transition: 300ms;
    margin-bottom: 20px;

    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
  }

  &__warning{
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 24px;
    color: #8B99A1;
  }
}

//! brand
/*brand*/
.brand {

  &__items {
    display: flex;
    align-items: flex-start;
    overflow: auto;
  }

  &__item {
    &:not(:first-child){
      margin-left: 20px;

      @media screen and (max-width: 767px) {
        margin-left: 10px;
      }
    }
  }

  &__image {
    width: 130px;
    height: 130px;
    margin-bottom: 9px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 767px) {
      width: 70px;
      height: 70px;
    }
  }

  &__sum {
    text-align: center;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.brand-img{
  width: 130px;
  height: 130px;
  margin-bottom: 9px;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    width: 70px;
    height: 70px;
  }
}

//! check
/*check*/
.check {

  &__info {
    color: #8B99A1;
    font-size: 14px;
    padding: 20px;
    background: #ffffff;
    margin-bottom: 2px;
  }

  &__body {
    background: #ffffff;
    margin-bottom: 2px;
    padding: 30px 20px;
  }

  &__order {
    color: #161615;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    span{
      color: #8B99A1;
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__promo {
    padding: 30px 20px;
    background: #ffffff;
    font-size: 18px;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }
}

//! item-check
/*item-check*/
.item-check {

  &__body {
    display: flex;
    align-items: center;
    span{
      flex-grow: 10;
      position: relative;
        &:before{
        content: '' ; 
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0px;
        bottom: -5px;
        border-bottom: 1px dotted #000;
      }
      
    }

    &:not(:first-child){
      margin-top: 10px;
    }
  }

  &__name {
    margin-right: 5px;
  }

  &__sum {
    margin-left: 5px;
    &.highlighted{
      color: #10C44C;
      font-weight: bold;
    }
  }
}

//! total-check
/*total-check*/
.total-check {
  padding: 30px 20px;
  margin-bottom: 20px;
  background: #ffffff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
  }

  &__sum {
    font-weight: bold;
    font-size: 20px;
  }
}

//! payment
/*payment*/
.payment {

  &__hidden{
    overflow: hidden;
  }

  &__items {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    overflow: auto;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 112px;
    border: 2px solid #CFD0D2;
    transition: 300ms;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    flex-shrink: 0;

    &:hover{
      border: 2px solid #005BFF;
    }

    &:not(:first-child){
      margin-left: 11px;
    }

    @media screen and (max-width: 767px) {
      width: 127px;
      height: 80px;
    }

    &.active{
      background: #10C44C;
      color: #ffffff;
      border: 2px solid #005BFF;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;

    
    @media screen and (max-width: 767px) {
      padding-right: 10px;
    }
  }
}







