
//! Reset
/*Reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select:none;
}

*:focus {
  outline: none;
}

//input[type='text'],
//input[type='url'],
//input[type='tel'],
//input[type='number'],
//input[type='color'],
//input[type='email'],
//input[type='password'] {
//  width: 100px;
//  height: 100px;
//  font: 400 16px sans-serif;
//  padding: 0 22px;
//  border-radius: 6px;
//  border: 1px solid #c7d7df;
//  color: #000;
//  &::placeholder {
//    color: #898989;
//  }
//  &::-moz-placeholder {
//    color: #898989;
//  }
//}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-moz-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  border: none;
  color: #000;
  width: 100%;
  opacity: 1;
}

button{
  background: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

html, body{
  height: 100%;
  min-height: 100%;
}

body {
  font: 400 16px 'Roboto', sans-serif;
  line-height: 1.1;
  color: #161615;
  background: #F3F3F3;
  letter-spacing: -0.24px;
  height: 100%;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
	vertical-align: top;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a img {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
      url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
      url('../fonts/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/*10.02.23*/
//.cart__inner{
//  width: 100%;
//}

//.delivery__radio{
//  width: 100%;
//}

//.radio-delivery:not(:first-child){
//  margin-left: 20px;
//}

//@media (max-width: 1440px){
//  .layout-product__cart .cart {
//    padding: 20px;
//  }
//}

//@media screen and (max-width: 600px){
//  .layout-product__check {
//    padding: 0px;
//  }
//}

//@media screen and (max-width: 767px){
//  .delivery__radio {
//    padding-right: 0px;
//  }
//}
//.cart .cart__inner label svg{
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  padding: 0;
//  margin: 0;
//  border-right: none;
//  width: 10px;
//}

@media screen and (max-width: 600px){
  .delivery__radio{
    display: block;
  }

  .radio-delivery__inner:not(:first-child){
    margin: 20px 0 0 0;
  }
}

////.radio-delivery:not(:first-child){
//  margin-left: 20px;
////}

@media screen and (max-width: 1366px){
  .payment-product.w-1366 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999999;
    min-width: 200px;
  }
}

.radio__name{
  margin-right: 20px;
  flex-wrap: wrap;
}


