/*modal*/
#delivery-courier1,
#delivery-courier2,
#delivery-pickup1,
#delivery-pickup2,
#authorization {
  display: none;
}

.fancybox-slide--html {
  padding: 0px !important;
}

.delivery {
  width: 100%;
  height: 100%;
  padding: 0;
}

.delivery .fancybox-button {
  display: none;
}

#authorization {
  position: relative;
  background: #f3f3f3;
}
