.map-delivery {
  background: #ffffff;
  height: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;

  &__container {
    height: inherit;
  }

  &__inner {
    height: inherit;
    position: relative;

  }

  &__header {
    position: relative;
    &:before{
      content: '' ; 
      display: inline-block;
      width: 100%;
      height: 1px;
      position: absolute;
      background: #C5C5C5;;
      left: 0%;
      bottom: 0px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__body {
    position: relative;
    display: flex;
    height: inherit;
    padding-top: 91px;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      //justify-content: flex-end;
    }
  }

  &__map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.header-map {
  background: #ffffff;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &__inner {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__button--container{
    display: flex;
    align-items: center;
    width: 520px;
    padding: 0px 40px;
    flex-shrink: 0;

    @media screen and (max-width: 991px) {
      width: 370px;  
      padding: 0 20px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 15px 70px;

      position: relative;
      &:before{
        content: '' ; 
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        background: #C5C5C5;;
        left: 0%;
        bottom: 0px;
      }
    }

  }

  &__button {
    width: 30%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    text-align: left;
    padding: 10px 0;
    transition: 0.3s;
    svg{
      margin-right: 10px;
      fill: #000000;
      transition: 300ms;
    }

    @media screen and (min-width: 1024px) {
      &:hover{
        color: #979CA5;

        svg{
          fill: #979CA5;
        }
      }
    }

    @media screen and (max-width: 1024px) {
    
    }

    @media screen and (max-width: 767px) {
      width: 40px;
      height: 40px;

      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);


      span{
        display: none;
      }
    }

  }

  &__buttons--mobile{

    &.buttons-order{
      display: none;

      @media screen and (max-width: 767px) {
        display: flex;
        width: 100%;

        .btnMain {
          height: 40px;
          font-size: 14px;
        }
      }
    }
  
  }

  &__items {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 15px 0;
    }

  }

  &__content {
    margin: 0 33px 0 56px;
    flex-shrink: 0;

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 0 30px 0 10px;
    }
  }

  &__name {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__goods {
    color: #8B99A1;
    font-size: 16px;
  }

  &__product {
    display: flex;
    overflow: auto;
  
    li{
      display: flex;
      align-items: flex-start;
      width: 60px;
      height: 60px;
      flex-shrink: 0;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:not(:first-child){
        margin-left: 10px;
      }
    }
  }
}

.form-map {
  position: relative;
  transition: 800ms;
  width: 520px;
  padding: 40px 40px 0;
  flex-shrink: 0;
  overflow: hidden;
  
  @media screen and (max-width: 767px) {
    overflow: auto;
  }

  .js-form--delivery{
    position: relative;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    position: absolute;
    background: #ffffff;
    left: 0;
    top: 100%;
    //height: 0;

    .icon{
      width: 28px;
    }

    .close-button{
      position: absolute;
      right: 10px;
      top: 20px;
      z-index: 20;
      display: none;
  
      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    @media screen and (max-width: 767px) {
      position: fixed;
      bottom: 0;
    }

    &.active{
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: visible;
      overflow: auto;
      opacity: 1;
      top: 0px;
    }
  }

  &__inner{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .mobi{
      display: none;

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  &__body{
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__bottom{
    margin-bottom: auto;
  }

  .input-mobile{
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__button-delivery{
    text-align: left;
    color: #8B99A1;
    margin-bottom: 40px;
    transition: 300ms;
    padding: 20px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover{
      border: 1px solid #005BFF;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      padding: 0;
      height: 50px;
      background: #005BFF;
      width: 100%;
      text-align: center;
      color: #ffffff;
      display: none;
      span{
        display: none;
      }
      &:before{
        content: attr(data-btn); 
      }
    }
  }

  .btn-modifier{
    margin-bottom: 40px;
    flex-shrink: 0;

    @media screen and (max-width: 991px) {
      margin: 0;
      //position: fixed;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  &__info{
    font-size: 16px;
    max-width: 360px;
    line-height: 1.4;
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  
  &__buttons {
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
      &.hidden{
        display: none;
      }
      
    }
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__location{
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 365px;
    line-height: 1.4;
    &.grey{
      color: #8B99A1;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      span{
        display: none;
      }
      &:before{
        content: attr(data-text); 
      }
    }
  }

  @media screen and (max-width: 991px) {
    width: 370px;  
    padding: 20px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px 10px;
    width: 100%;
  }

  
}

.buttons-order{
  display: flex;

  &__button {
    color: #000000;
    background: #F2F5FA;
    height: 50px;
    @media screen and (min-width: 1024px) {
      &:hover{
        background: #CFD0D2;
      }
    }

    &.active{
      background:#000000;
      color: #ffffff;
    }
  }
}

.input-map {

  &__address {
    margin-bottom: 40px;
  }

  &__description {
    color: #8B99A1;
    line-height: 1.4;
    
    @media screen and (max-width: 767px) {
      max-width: 295px;
    }
  }
}

#map {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

.delivery-address {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;

  &__field--comment{
    min-height: 100px;

    textarea{
      height: 100%;
      resize: none;
    }
  }

  &.mb-20{
    margin-bottom: 20px;
  }

  &.none767{
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
.delivery-address__field--address,
.delivery-address__field--name,
.delivery-address__field--tel,
.delivery-address__field--comment {
  grid-column: 1/-1;
}
.delivery-address__field--apartment,
.delivery-address__field--index {
  grid-column: span 3;
}
.delivery-address__field--entrance,
.delivery-address__field--floor,
.delivery-address__field--intercom {
  grid-column: span 2;
}
.delivery-address__input {
  width: 100%;
  height: 50px;
}
